

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 5%;
    /* background-color: red; */
}

.App__img {
    width: 35%;
}

 h1 {
   color: white;  
} 


.logo__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 10px;
    margin: 3%;
   
}

 .App__img  .logo {
    width: 30px;
    height: 50px;
    z-index: 1;
   
} 

.App__img img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
 
}

h2 {
    position: absolute;
    left: 5%;
    bottom: 14%;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
   
       
        
}

.App__logPage {
    width: 65%;
    align-items: center;
    
}

.App__logWrapper {
 width: 40%;
margin: 15% 0 0 25%;
height: auto;


}



.App__heading {
    font-weight: 600;
    font-size: 2rem;
    margin: 4%;
    display: flex;
    justify-content: center;
    
} 

.App__logWrapper  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    
}

.App__logWrapper  form input {
 padding: 3%;
 border-radius: 3px;
   width: 100%;
}

.email {
    margin-bottom: 10px;
}
.App__logWrapper  form input::placeholder {
    color: rgb(21, 21, 115)
}


.App__logWrapper  form label {
    display: flex;
    justify-content: space-between;
 
}

.forget__password {
    color: rgb(45, 45, 208);
  
}

.password__wrapper {
    position: relative;
}

 .eye__logo {
   position: absolute;
    width: 30px;
    height: 18px;
    top: 45%;
    left: 85%;
  
}

.btn {
    color: white;
    background-color: blue; 
    border: none;
    font-size: 16px;
    padding: 3%;
    border-radius: 3px;
   margin: 4% 0 5% 0;
}

.hr {
  margin-bottom: 5%;  
}
.googleImg__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
   border: 1px solid black;
   padding: 8px;
   border-radius: 4px;
}
 

.googleImg__wrapper  img {
    width: 7%;
   
}

.account__enquiry {
    text-align: center;
    margin: 3%;
}

.signup {
    color:rgb(40, 40, 227);
}

/* Media Queries */

@media screen and (max-width: 780px) {
    .App {
        display: flex;
        width: 100%;
        height: 250vh;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0,0.5);
    }

    .App__img {
        width: 100%;
     /* background-color: blue;  */
    }

    h1 {
        color: white;
        /* background-color: darkmagenta; */
        font-size: 2rem; 
     } 
     
     .App__img  .logo {
        width: 30px;
        height: 50px;
        z-index: 1;
         /* background-color: black;   */
    } 

    .logo__wrapper {
        position: absolute;
        z-index: 2;
        margin: 5%;
    }


    /* Long In */
    .App__logPage {
        width: 100%;
     
    }

    .App__logWrapper {
        width: 95%;
       height: auto;
       margin: auto;
       
       }
       
       .App__logWrapper  form input {
        /* padding: 15px; */
        padding: 10px;
        border-radius: 8px;
          width: 90%;
          font-size: 1.2rem;
       }
       

 .App__heading {
    font-weight: 600;
    font-size: 2rem;
    margin: 5%;
    display: flex;
    justify-content: center;
    
} 

.App__logWrapper  form label {
    font-size: 1.2rem;
}
       
.btn {
    font-size: 20px;
    width: 90%;
    background-color: blue; 
    padding: 2%;
    border-radius: 3px;
}

.eye__logo {
     top: 58%;
     left: 80%;
 }

 .App__logWrapper  form input::placeholder {
    color: rgb(21, 21, 115);
    font-size: 1.4rem;
}



.googleImg__wrapper {
   width: 90%;
}

.forget__password {
    margin-right: 60px;
}


  }